@use "../_General.module" as general;

.billing_h4 {
  margin: 0;
  background-color: transparent;
  padding: 0;
  font-size: 1.7rem;
  margin-top: 1rem;
  line-height: 4rem;
}
.billing_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(71, 71, 71, 0.43);
  margin: 0;
  font-family: general.$body-font;

  input {
    background-color: general.$grey-100;
    height: 30px;
    color: general.$primary-color-light;
  }
  input:valid {
    border: 2px solid rgba(0, 127, 0, 0.66);

    background-color: rgba(0, 127, 0, 0.193);
  }
  /*   input:invalid:not(:focus) {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.181);
  } */
  input:invalid:not(:placeholder-shown + span) {
    opacity: 1;
  }
  input:focus-within {
    border: 1px solid rgba(0, 0, 255, 0.623);
    background-color: rgba(0, 0, 255, 0.167);
  }
  select {
    background-color: general.$grey-100;
    color: general.$primary-color-light;
    height: 30px;
    border: solid 1px hsl(0deg, 0%, 98%);
    width: 335px;
  }
  fieldset {
    display: flex;
    width: 100%;

    input {
      width: 100%;
    }
  }
  fieldset:nth-child(1) {
    aside {
      display: flex;
      flex-direction: column;
    }
    input {
      width: 335px;
    }
  }
  fieldset:nth-child(2) {
    div:first-of-type {
      padding-right: 0.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      width: 213px;
    }
    div:last-of-type {
      display: flex;
      flex-direction: column;
      width: 113px;
      margin-left: 0.5rem;
    }
  }
  fieldset:nth-child(3) {
    div:first-of-type {
      padding-right: 0.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      width: 213px;
    }
    div:last-of-type {
      display: flex;
      flex-direction: column;
      width: 113px;

      margin-left: 0.5rem;
    }
  }
  fieldset:nth-child(4) {
    flex-direction: column;
  }
  fieldset:last-of-type {
    margin-bottom: 1rem;
  }
  button {
    padding: 0;
  }
  span {
    font-family: general.$body-font;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 300;
    color: rgba(250, 250, 250, 0.7);
    display: inline;
    line-height: 0.8rem;
  }
  label {
    line-height: 1.5rem;
  }
}

@media only screen and (min-width: general.$mobile-query) {
  .billing_form {
    /*     max-width: 800px;
 */
    margin: 0;

    fieldset:nth-child(1) {
      flex-direction: column;
    }
    fieldset:nth-child(2) {
      flex-direction: column;

      div:last-of-type {
        margin-left: 0rem;
        margin-top: 1rem;
      }
    }
    fieldset:nth-child(3) {
      flex-direction: column;
      div:last-of-type {
        margin: 0;
        margin-top: 1rem;
      }
    }
  }
}
