@use "_General.module" as general;
.bandDetail {
  background-color: general.$primary-color-dark;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  width: 70%;
  overflow-y: scroll;
  padding: 2.5%;
  h2 {
    font-size: 2.25rem;
    line-height: 1.2;
  }
  h4 {
    font-size: 1.5rem;
    margin: 0;
  }
  button {
    background: none;
    font-weight: 200;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    // margin-right: 1rem;
    svg {
      width: 25px;
      height: 25px;
    }
    &:hover {
      background: none;
    }
  }
  p {
    & span {
      font-weight: 700;
    }
  }
}

.faveButton {
  font-family: general.$body-font;
  border: solid 1px general.$accent-color-100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: max-content;
  gap: 1rem;
  min-height: 3rem;
  margin-left: auto;
  margin-top: 1rem;
  & span {
    color: #fff;
  }
}

.topWrapper {
  display: flex;
  margin-top: 6rem;
  margin-bottom: 4rem;
  border: solid 1px general.$accent-color-100;
  margin-top: 1rem;
  margin-bottom: 2rem;
  justify-content: space-between;
  // gap: 2rem;
  align-items: center;
  img {
    padding: 5%;
    // position: relative;
    // left: -4rem;
    width: 100%;
    height: auto;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.bio {
  padding-left: 2.5%;
  padding-right: 2.5%;
  // columns: 2;
  column-gap: 4rem;
  line-height: 1.5rem;
}

.buttons {
  button {
    svg {
      width: 30px;
      height: 30px;
      position: relative;
      left: -1rem;
    }
  }
}

@media only screen and (max-width: general.$mobile-query) {
  .bandDetail {
    width: 100%;
    padding-top: 5rem;

    .topWrapper {
      display: block;
    }
    figcaption {
      padding: 0.5rem;
    }
  }
}

// .festival__bandList__page {
//     position: fixed;
//     top: 0;
//     left: 0;
//     height: 100vh;
//     width: 70%;
//     background-color: general.$grey-400;
//     overflow-y: scroll;
//     button {
//         background: none;
//     }
//     svg {
//         fill: general.$primary-color-lighter;
//     }
//     h4 {
//         background: none;
//         display: block;
//         margin-left: auto;
//         margin-right: auto;
//         text-align: center;
//         font-size: 1.56rem;
//         margin-top: 0;
//         padding: 0;
//     }
//     img {
//         max-width: 50%;
//     }
//     p {
//         max-width: 70ch;
//         display: block;
//         margin-left: auto;
//         margin-right: auto;
//     }
//     figcaption {
//         color: general.$primary-color-lighter;
//         font-size: 0.65rem;
//         text-align: center;
//     }
//     .favourite {
//         position: absolute;
//         bottom: 5vw;
//         right: 5vw;
//         background: none;
//         svg {
//             fill: general.$accent-color-100;
//         }
//     }
// }
// .band__info {
//   padding: 3rem;
//   background-color: green;
//   height: 100vh;
//   position: fixed;
//   right: 0;
//   top: 0;
//   z-index: 2;
//   width: 70%;
//   overflow-y: scroll;
//   h2 {
//     font-size: 2.25rem;
//     margin: 2.5rem 0 0 0;
//     line-height: 1;
//   }
//   h4 {
//     font-size: 1.5rem;
//     margin: 0;
//   }
//   button {
//     background: none;
//     width: 2rem;
//     height: 2rem;
//     padding: 1rem;
//     border: none;
//     margin-right: 1rem;
//     svg {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//     }
//     &:hover {
//       background: none;
//     }
//   }
//   img {
//     width: 100%;
//   }
//   div {
//     display: flex;
//     justify-content: space-between;
//   }
//   .bio {
//     max-width: 60ch;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }
