@use "_General.module" as general;

.billing_h4 {
  margin: 0;
  background-color: transparent;
  padding: 0;
  font-size: 1.7rem;
  margin-top: 1rem;
}
.billing_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 335px;
  background-color: rgba(71, 71, 71, 0.43);
  margin: 0;
  input {
    border-radius: 5px;
    background-color: general.$primary-color-dark;
    height: 30px;
    max-width: 335px;
    color: general.$primary-color-light;
  }
  input:valid {
    border: 2px solid rgba(0, 127, 0, 0.66);

    background-color: rgba(0, 127, 0, 0.193);
  }
  /*   input:invalid:not(:focus) {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.181);
  } */
  input:invalid:not(:placeholder-shown + span) {
    opacity: 1;
  }
  input:focus-within {
    border: 1px solid rgba(0, 0, 255, 0.623);
    background-color: rgba(0, 0, 255, 0.167);
  }
  select {
    background-color: general.$primary-color-dark;
    color: general.$primary-color-light;
    height: 30px;
    max-width: 335px;
  }
  section {
    display: flex;
    width: 100%;
    max-width: 335px;

    input {
      width: 100%;
    }
  }
  section:nth-child(1) {
    div {
      width: 335px;
    }
    aside {
      display: flex;
      flex-direction: column;
    }
  }
  section:nth-child(2) {
    div:first-of-type {
      padding-right: 0.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      max-width: 213px;
    }
    div:last-of-type {
      display: flex;
      flex-direction: column;
      max-width: 113px;
      margin-left: 0.5rem;
    }
  }
  section:nth-child(3) {
    div:first-of-type {
      padding-right: 0.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      max-width: 213px;
    }
    div:last-of-type {
      display: flex;
      flex-direction: column;
      max-width: 113px;
      margin-left: 0.5rem;
    }
  }
  section:last-of-type {
    margin-bottom: 1rem;
  }
  button {
    padding: 0;
  }
  span {
    font-family: general.$body-font;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 300;
    color: rgba(250, 250, 250, 0.7);
    display: inline;
    line-height: 0.8rem;
  }
  label {
    line-height: 0.9rem;
  }
}

.section_cc {
  /*   flex-direction: column;
 */
  input {
    max-width: 113px;
  }
  input:first-of-type {
    margin-right: 1rem;
  }
  button {
    max-width: 362px;
  }
}
@media only screen and (min-width: general.$mobile-query) {
  .billing_form {
    max-width: 800px;
    margin: 0;

    section:nth-child(1) {
      flex-direction: column;
    }
    section:nth-child(2) {
      flex-direction: column;

      div:last-of-type {
        margin-left: 0rem;
        margin-top: 1rem;
      }
    }
    section:nth-child(3) {
      flex-direction: column;
      div:last-of-type {
        margin: 0;
        margin-top: 1rem;
      }
    }
  }
}
