@use "_General.module" as general;
.footer {
  margin-top: 5rem;
  padding: 2rem 0;
  height: fit-content;
  background-color: general.$grey-500;

  img {
    max-width: 20vw;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: general.$h-font;
    height: fit-content;
    img {
      max-width: 20vw;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: -0.5rem;
    }
    .some {
      display: flex;
      gap: 1rem;
      flex-direction: row;
    }

    li {
      margin: 0;
      padding: 0;
    }
    a {
      font-size: 1.5rem;
      color: general.$primary-color-light;
    }
    li:hover {
      background: none;
      a {
        color: general.$accent-color-100;
        background: none;
      }
      img {
        filter: brightness(0) saturate(100%) invert(47%) sepia(72%) saturate(6598%) hue-rotate(0deg) brightness(102%) contrast(104%);
      }
    }
  }
}

@media only screen and (max-width: general.$mobile-query) {
  .footer {
    img {
      max-width: 55vw;
    }
    nav {
      display: block;
      padding: 0 1rem;
      ul {
        display: none;
      }

      .some img {
        width: 2rem;
      }
      .some {
        justify-content: center;
        margin-top: 1rem;
      }
    }
  }
}
