@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Koulen&display=swap");

$primary-color-dark: hsla(0, 12, 7, 100%);
$primary-color-light: hsla(0, 0, 98, 100%);
$accent-color-100: hsla(16, 100, 50, 100%);
$accent-color-60: hsla(16, 100, 60, 60%);
$secondary-color: hsl(0, 0, 82);

$grey-500: hsl(0, 0, 12);
$grey-400: hsl(0, 1, 16);
$grey-300: hsl(0, 0, 19);
$grey-200: hsl(0, 0, 22);
$grey-100: hsl(0, 0, 28);

$h-font: "Koulen", cursive;
$body-font: "Inter", sans-serif;

@mixin primary-button {
  background-color: $accent-color-100;
  color: $primary-color-light;
  padding: 0.5rem 1rem;
}

body {
  font-family: $body-font;
  background-color: $primary-color-dark;
  color: $primary-color-light;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $h-font;
  color: $primary-color-light;
}
