@use "_General.module" as general;
.container {
  background-color: rgba(49, 49, 49, 0.787);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
}

@media only screen and (max-width: general.$mobile-query) {
}
