@use "_General.module" as general;

.Login form {
  margin: 0;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  background-color: general.$grey-500;
  padding: 6rem;

  label {
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 1rem;
  }

  .help {
    color: general.$primary-color-lighter;
    margin-top: 0;
  }
}

.login__card {
  background-color: general.$grey-500;

  padding: 6rem;
  margin-top: 2rem;

  h2 {
    line-height: 1;
    margin-bottom: 2rem;
  }
}

.inputContainer {
  display: flex;
  height: 2rem;
  position: relative;

  button {
    padding: 0.2rem;
    background: none;
    border: solid 1px white;
    width: 4rem;
  }
  input {
    width: 100%;
  }

  img {
    filter: brightness(0) saturate(100%) invert(80%) sepia(100%) saturate(0%) hue-rotate(260deg) brightness(108%) contrast(101%);
    margin-left: 0.5rem;
    position: absolute;
    right: 0.5rem;
  }
}

.sign_button {
  width: 100%;
  margin-top: 2rem;
  font-size: 1.5rem;
  padding: 0;
}
.g_button {
  background-color: general.$primary-color-light;
  width: 100%;
  box-shadow: rgba(150, 145, 145, 0.279) 0px 2px 8px 0px;
  color: general.$primary-color-dark;
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  img {
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.forgot {
  color: general.$primary-color-light;
  text-decoration: underline;
  font-family: general.$body-font;
  font-weight: 600;
  font-size: 0.8rem;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  &:hover {
    color: general.$accent-color-100;
  }
}
@media only screen and (max-width: general.$mobile-query) {
  .login__card {
    width: 90%;
  }
}
