@use "_General.module" as general;
.navBar {
  position: relative;

  svg {
    fill: general.$primary-color-light;
  }

  button {
    position: fixed;
    right: -2rem;
    top: 0;
    z-index: 10;
    cursor: pointer;
    background: transparent;
    border: none;
    width: fit-content;
  }

  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background-color: general.$grey-400;
    right: -40vw;
    bottom: 0;
    height: 100vh;
    width: 40vw;
    overflow: hidden;

    z-index: 9;
    margin-top: 0;

    li a {
      display: flex;
      padding-left: 2.5rem;
      align-items: center;
      gap: 1.2rem;
      width: 100%;
    }
  }

  .menuNav.showMenu {
    width: 75vw;
  }

  li a {
    display: block;
    padding: 1rem;
    font-family: general.$h-font;
    font-size: 1.5rem;
    color: general.$primary-color-light;
    line-height: 2.5;
  }

  li:hover {
    background-color: general.$grey-300;

    a {
      color: general.$accent-color-100;
      filter: brightness(0) saturate(100%) invert(31%) sepia(69%) saturate(3648%) hue-rotate(2deg) brightness(105%) contrast(106%);
    }
  }

  .menuNav li:first-child {
    margin-top: 5rem;
  }

  .showingMenu {
    transition: all 0.5s ease-out;
    transform: translateX(80vw);
  }
  .closingMenu {
    transition: all 0.5s ease-out;
    transform: translateX(0vw);
  }

  .logo {
    position: fixed;
    left: 1rem;
    top: 1rem;
    z-index: 100;
    img {
      max-width: 4rem;
    }
  }
}
@media only screen and (max-width: general.$mobile-query) {
  .navBar .menuNav {
    &.showMenu {
      width: 110vw;
    }
  }
}
