@use "_General.module" as general;
.summary {
  background: general.$grey-500;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  h2 {
    font-size: 1.8rem;
    background-color: general.$grey-100;
    padding-left: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  ul {
    padding: 1rem;
    // border: hotpink solid 1px;
    // margin-bottom: 100%;
  }
  li {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    // border: solid .5px lime;
    span {
      font-family: general.$h-font;
      min-width: max-content;
    }
  }
}

.total {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-top: 1rem;
  border-top: solid 0.5px general.$secondary-color;
  font-weight: 700;
  .price {
    font-family: general.$h-font;
    min-width: max-content;
  }
}

@media only screen and (max-width: general.$mobile-query) {
  .summary {
    position: fixed;
    top: 90vh;
    z-index: 9999;
    width: 100%;
    h2,
    ul {
      display: none;
    }
  }
  .total {
    height: 6rem;
    background-color: general.$primary-color-dark;
    margin: 0;
    padding: 1rem;
    align-items: center;
    border-top: solid 1px general.$accent-color-100;
    font-size: 1.8rem;
    cursor: pointer;
  }
}
