.festival__schedule {
    display: flex;
}

.form__area [type="radio"] {
    display: none;
}

.form__area--row {
    display: flex;
    justify-content: center;
}

.formItem {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border: solid 1px grey;
    width: 100%;
}